<div class="homeContainer ">
  <div class="box upcomingMatch">
    <div class="upcomingMatchContainer">
      <div class="matchTimeGroup">
        <audio id="music">
          <source id="audioSource" src="" type="audio/mpeg">
        </audio>
        <div id="player">
            <h4><b>LỊCH TRỰC NHẬT</b></h4>
            <h5>
              <p>- Từ {{vm.from}} đến {{vm.to}}</p>
              <p>+ Tầng 1: <b><u>{{vm.danhsach[0]}}</u></b></p>
              <p>+ Phòng 201: <b><u>{{vm.danhsach[1]}}</u></b></p>
              <p>+ WC tầng 2: <b><u>{{vm.danhsach[2]}}</u></b></p>
              <p>+ WC tầng 3: <b><u>{{vm.danhsach[3]}}</u></b></p>
              <p>+ Bếp, nhà ăn, tủ lạnh: <b><u>{{vm.danhsach[4]}}</u></p>
              <p>+ Phòng 202: <b><u>{{vm.danhsach[5]}}</u></b></p>
              <p>+ Phòng 302: <b><u>{{vm.danhsach[6]}}</u></b></p>
              <p>+ Cầu thang: <b><u>{{vm.danhsach[7]}}</u></b></p>
              <p>+ Đổ rác: <b><u>{{vm.danhsach[8]}}</u></p>
            </h5>
        </div>
      </div>

    </div>
  </div>
</div>