<div class="infoTabContainer">
    <div class="infoTabShadow">
        <div class="teamInfoGroup">
            <div class="teamName trackName">
                <i ng-if="vm.rank == 0" class="fa fa-music" aria-hidden="true">&nbsp;&nbsp;</i>
                <b ng-if="vm.rank == 1">{{vm.rankIndex}}.&nbsp;&nbsp;</b> {{vm.mySong.name}}
            </div>
            <div class="teamName singer">
                <b>Singer:</b> &nbsp;{{vm.mySong.artist.name}}
            </div>
            <div class="teamName composer">
                <b>Composer:</b> &nbsp;{{vm.mySong.musician.name}}
            </div>
            <div class="teamName plays">
                <b>ID:</b> &nbsp;&nbsp;{{vm.mySong._id}}
            </div>
            <div class="teamName plays" ng-if="vm.rank == 1">
                <i class="fa fa-play-circle" aria-hidden="true"></i> &nbsp;&nbsp;{{vm.mySong.plays}}
            </div>
        </div>
    </div>
</div>