<div class="messageContainer">
    <div class="messageBarContainer ">
        <h4 class="messageTitle">CREATE A TEAM</h4>
    </div>
    <form class="teamRegisterContainer col-xs-12">
        <div class="infoTeamRegister col-xs-9">
            <div class="input-group">
                <h5>NAME</h5>
                <input type="text" class="form-control" required name="artistName" ng-model="vm.currentArtist.name">
            </div>
            <div class="input-group">
                <h5>BIRTHDATE</h5>
                <input type="date" class="form-control" placeholder="02/17/1995" name="artistBirthdate" ng-model="vm.currentArtist.birthdate">
            </div>
            <div class="input-group">
                <h5>DETAIL INFORMATION</h5>
                <textarea class="form-control detailInformation" rows="5" name="artistInfo" ng-model="vm.currentArtist.detailInformation"></textarea>
            </div>
        </div>
        <div class="btnGroup infoTeamRegister col-xs-3">
            <div class="input-group">
                <button class="btn btn-default" ng-click="vm.save()">SAVE</button>
            </div>
            <div class="input-group">
                <button class="btn btn-default" ng-click="vm.reset()">RESET</button>
            </div>
            <div class="input-group">
                <button class="btn btn-default" ng-click="vm.back()">BACK</button>
            </div>
        </div>
    </form>
</div>