<div class="messageContainer">
  <div class="messageBarContainer ">
    <h4 class="messageTitle">CREATE A TEAM</h4>
  </div>
  <form class="teamRegisterContainer col-xs-12 col-sm-8 col-sm-offset-1" ng-submit="vm.teamRegister()">
    <div class="col-xs-4 thumbnail text-center">
      <img id="addIcon" src="../../../../assets/images/photo-camera.svg">
      <div class="caption">
        <h4>CHOOSE A PICTURE</h4>
      </div>
    </div>
    <div class="infoTeamRegister col-xs-7 col-xs-offset-1">
      <div class="input-group">
        <h5>TEAM NAME</h5>
        <input type="text" class="form-control" required name="teamName" ng-model="vm.name">
      </div>
      <div class="input-group">
        <h5>LOCATION</h5>
        <input type="text" class="form-control" required name="location" ng-model="vm.location">
      </div>
      <button class="btn btn-default" type="submit">CREATE</button>
    </div>
  </form>
</div>
