<div class="messageContainer awayTeamContainer col-sm-8 col-xs-12">
  <div class="messageBarContainer ">
    <h4 class="messageTitle">List</h4>
  </div>
  <div class="exploreTeam">
    <div class="listContainer">
      <div class="row">
        <div class="col-sm-3 col-xs-4" ng-click="vm.changeMenu('teamRegister')">
        
        </div>
        <team-tab ng-repeat="team in vm.teams| filter:vm.search" type='away' team=team change-menu="vm.changeMenu('teamProfile');"></team-tab>
        sdfasdfsdfdsfasasdfsdafsdafsdafsdaf
      </div>
    </div>
  </div>
</div>