<div class="messageContainer">
    <div class="messageBarContainer ">
        <h4 class="messageTitle">{{vm.title}}</h4>
    </div>
    <div class="messageBarContainer btnGroup">
        <div class="refreshBtn" ng-click="vm.refresh()"></div>
        <div class="searchBtn" ng-class="{'searchBtn-active': vm.listMode == 2}" data-toggle="modal" data-target="#artistSearchModal"></div>
        <div class="addnewBtn" ng-click="vm.changeView(-1)"></div>
        <div ng-show="vm.subState[0] == 0" class="statisticBtn" ng-class="{'statisticBtn-active': vm.listMode == 1}" ng-click="vm.changeListMode(1)"></div>
        <div class="azBtn" ng-class="{'azBtn-active': vm.listMode == 0}" ng-click="vm.changeListMode(0)"></div>
    </div>
    <div class="listContainer" id="listCon-singer">
        <div infinite-scroll='vm.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#listCon-singer"' infinite-scroll-parent="true">
            <singer-item ng-repeat="singer in vm.singersList" singer={{singer}} index={{$index}} rank={{vm.listMode}} ng-click="vm.changeView($index)"></singer-item>
        </div>
    </div>
    
</div>