<div class="messageContainer">
    <div class="messageBarContainer ">
        <h4 class="messageTitle">List</h4>
    </div>
    <div class="messageBarContainer btnGroup">
        <div class="refreshBtn" ng-click="vm.refresh()"></div>
        <div class="addnewBtn" ng-click="vm.changeView(-1)"></div>
    </div>
    <div class="listContainer" id="listCon-singer">
        <div infinite-scroll='vm.loadMore()' infinite-scroll-distance='1' infinite-scroll-container='"#listCon-singer"' infinite-scroll-parent="true">
            <singer-item ng-repeat="singer in vm.singersList" singer={{singer}} ng-click="vm.changeView($index)"></singer-item>
        </div>
    </div>
</div>