<form name="resetPassword" ng-submit="vm.resetPassword()">
    <div class="input-group">
        <h5>PASSWORD</h5>
        <input name="newPassword" ng-model="vm.newPassword" type="password" class="form-control" required placeholder="••••••••••••">
        <div validate-icon='passwordConfirm'></div>
    </div>
    <div class="input-group">
        <h5>CONFIRM PASSWORD</h5>
        <input validate-pass="vm.newPassword" name="passwordConfirm" ng-model="vm.passwordConfirm" type="password" class="form-control"
            required placeholder="••••••••••••">
        <div validate-icon='passwordConfirm'></div>
    </div>
    <div class="message">
        <p ng-show="resetPassword.passwordConfirm.$dirty && resetPassword.passwordConfirm.$invalid">Please match password</p>

    </div>
    <button type="submit" ng-disabled="resetPassword.$invalid" class="btn btn-RL">CHANGE</button>
</form>