body,
html {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('../src/client/assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(change-color-progress) {
    0% {
        background-color: olive;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: olive;
    }
}

@include keyframes(change-color-default) {
    0% {
        background-color: darkslategray;
    }
    100% {
        background-color: dimgrey;
    }
}

@include keyframes(sound) {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 20px;
    }
}

.searchBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/search.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.refreshBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/refresh.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.topBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/top.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.topBtn-active {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/top-active.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.newBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/new.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 30px 0 10px;
}

.newBtn-active {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/new-active.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin: 0 30px 0 10px;
}

.removeBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/remove-symbol.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.infoBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/info.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    //margin: 5px 0 5px 0;
    cursor: pointer;
}

.playnowBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/play-circle.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.addBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/add.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.downBtn {
    width: 20px;
    height: 20px;
    background-image: url('../src/client/assets/images/download.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px 0 5px 0;
    cursor: pointer;
}

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px; // background-color: #F5F5F5;
// }
// ::-webkit-scrollbar {
//     width: 0.5%; // background-color: #F5F5F5;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
//     background-color: #434343;
// }
.playlistItemContainer {
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.1);
    cursor: pointer;
}

.playlistItemContainer-playing {
    border-radius: 5px;
    background-color: rgba(150, 100, 0, 0.2);
    cursor: pointer;
}

#listCon {
    height: 84%;
}

#player {
    width: 90%;
    height: 100%;
    margin: 0;
    bottom: 0;
    #musicTitle {
        height: 30%;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        margin-top: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    nav {
        width: 100%;
        height: 70%;
        text-align: left;
        #defaultBar {
            margin: 0;
            width: 100%;
            height: 7px;
            position: relative;
            background-color: #1E1E1E;
            border-radius: 3px;
            text-align: left;
            cursor: pointer;
            &:hover {
                border: 1px solid grey;
                height: 9px;
                #progressBar {
                    @include animation('change-color-progress 1.5s infinite');
                }
            }
            #progressBar {
                border: none;
                display: inline-block;
                margin: 0;
                position: absolute;
                height: 7px;
                background-color: olive;
                width: 0;
                border-radius: 3px;
                cursor: pointer;
            }
            #bufferBar {
                border: none;
                display: inline-block;
                margin: 1px 0 0 0;
                position: absolute;
                height: 5px;
                background-color: rgba(73, 73, 73, 0.7);
                width: 0;
                border-radius: 3px;
                cursor: pointer;
            }
        }
        #defaultVolumeBar {
            margin: 0;
            width: 100px;
            height: 6px;
            position: relative;
            background-color: #1E1E1E;
            border-radius: 3px;
            text-align: left;
            bottom: 9px;
            cursor: pointer;
            &:hover {
                border: 1px solid grey;
                height: 8px;
                #adjustVolumeBar {
                    background-color: white;
                }
            }
            #adjustVolumeBar {
                border: none;
                display: inline-block;
                margin: 0;
                position: absolute;
                height: 6px;
                background-color: grey;
                width: 0;
                border-radius: 3px;
                cursor: pointer;
            }
        }
        #controlButtons {
            margin: 0;
            width: 100%;
            #playBtn {
                margin-top: 7px;
                background-color: #2f2f2f;
                border: none;
                height: 26px;
                width: 26px;
                background-image: url('../src/client/assets/images/play-arrow.svg');
                background-size: 15px 15px;
                background-repeat: no-repeat;
                background-position: 7px 6px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: rgba(73, 73, 73, 0.7);
                }
                &:active {
                    background-color: black;
                }
            }
            #nextBtn {
                margin-top: 7px;
                background-color: #2f2f2f;
                border: none;
                height: 26px;
                width: 26px;
                background-image: url('../src/client/assets/images/fast-forward-arrows.svg');
                background-size: 15px 15px;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: rgba(73, 73, 73, 0.7);
                }
                &:active {
                    background-color: black;
                }
            }
            #previousBtn {
                margin-top: 7px;
                background-color: #2f2f2f;
                border: none;
                height: 26px;
                width: 26px;
                background-image: url('../src/client/assets/images/rewind-button.svg');
                background-size: 15px 15px;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: rgba(73, 73, 73, 0.7);
                }
                &:active {
                    background-color: black;
                }
            }
            #volumeBtn {
                margin-top: 7px;
                background-color: #2f2f2f;
                border: none;
                height: 26px;
                width: 26px;
                background-image: url('../src/client/assets/images/volume-up-indicator.svg');
                background-size: 15px 16px;
                background-repeat: no-repeat;
                background-position: 5px 6px;
                border-radius: 100%;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: rgba(73, 73, 73, 0.7);
                }
                &:active {
                    background-color: black;
                }
            }
            #time {
                float: right;
                margin: 9px 0 0 0;
                font-size: 14px;
            }
        }
    }
}

#webName {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    color: white;
}

#playlist {
    height: 84%;
}

.matchTimeGroup {
    width: 100% !important;
    margin: 0 !important;
}

.fontLayout {
    font-family: 'Segoe UI', 'Roboto', sans-serif!important;
}

.textOverflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listContainer {
    width: 99.5%;
    padding-right: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box; // padding: 0 16px 0 20px;
    @extend .customScrollBar;
}

.customScrollBar {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px; // background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 3px; // background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
        background-color: #434343;
    }
}

#bars {
    height: 30px;
    margin: -24px 0 0 0px;
    position: absolute;
}

.bar {
    background: darkorange;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    @include animation('sound 0ms -800ms linear infinite alternate');
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 374ms;
}

.bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 9px;
    animation-duration: 400ms;
}

.bar:nth-child(4) {
    left: 13px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 17px;
    animation-duration: 483ms;
}

.infoBody {
    max-height: 400px;
    overflow: auto;
}

.modal-content {
    background-color: #2f2f2f;
    color: white;
}

.modal-header {
    border: 0;
    .close {
        color: white;
    }
}

.modal-body {
    margin-bottom: 15px;
    .lyric {
        white-space: pre;
    }
}

#soundwave {
    position: relative;
    left: -20px;
}

.searchGroup {
    height: 100%;
    margin: 0 3% 0 3%;
    width: 100%;
}

.plbtnGroup {
    width: 30%;
    text-align: right;
    padding-right: 2%;
}

.tracksListBtnGroup {
    width: 60% !important;
    display: inline-block !important;
    margin: 15px 0px 16px 0px !important;
    text-align: right !important;
}

@import 'stylePages/fonts';
@import 'stylePages/auth';
@import 'stylePages/layout';
@import 'stylePages/homepage';