<div class="pageContainer fontLayout">
  <div class="backgroundLayout"></div>
  <!-- <div class="sideBar-container">
        <ul class="sideBar-wrapper">
            <li>
                <a><img src="../../../assets/images/soccer-ball-variant.svg" ></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layout.homepage" ng-click="vm.namePage ='DASHBOARD'"><img src="../../../assets/images/home-button.svg"></a>
            </li>
            <li>
                <a ng-click="vm.namePage='GROUP'"><img src="../../../assets/images/group.svg"></a>
            </li>
            <li>
                <a ng-click="vm.namePage='PROFILE'"><img src="../../../assets/images/user.svg"></a>
            </li>
        </ul>

    </div> -->
  <div class="sideBar-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.png" >
      </a>
    </div>
    <div id="webName">
      CMB ĐÀ NẴNG
    </div>
  </div>
  <div class="main-panel">
    <ui-view class="shuffle-animation"></ui-view>
  </div>
</div>