<div class="messageContainer teamProfile">
  <div class="messageBarContainer ">
    <h4 class="messageTitle">CREATE A TEAM</h4>
  </div>
  <div class="teamProfileContainer">
    <div class="infoTeam col-sm-4 col-xs-12 ">
      <div class="thumbnail">
        <img id="addIcon" src="../../../../assets/images/e-aupyxbjm-alice-moore.jpg">
        <div class="caption homeTeamCaption">
          <h4>BI AI TEAM</h4>
          <p>12 Member</p>
          <p><img src="../../../../assets/images/calendar.svg">Joind on 26-05-2016</p>
          <p><img src="../../../../assets/images/placeholder.svg">Binh Thanh, Tp. HCM</p>
          <p><img src="../../../../assets/images/trophy.svg">10000</p>

        </div>
      </div>
    </div>
    <div class="memberList col-sm-8  col-xs-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner " role="listbox">
          <div class="item active">
            <team-tab type='member' team=team></team-tab>
          </div>
          <div class="item ">
            <team-tab type='member' team=team></team-tab>
          </div>
          <div class="item ">
            <team-tab type='member' team=team></team-tab>
          </div>
          <div class="item ">
            <team-tab type='member' team=team></team-tab>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
          <div class="nextIcon back"><img src="../../../../assets/images/back.svg "></div>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
          <div class="nextIcon "><img src="../../../../assets/images/next.svg "></div>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div></div>
    </div>
  </div>
</div>
